<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <extensions>
      <add assembly="Houdar.Components.NLog"/>
    </extensions>
    <targets async="true">
      <target name="console" xsi:type="Console" layout="${longdate}|${level}|${message}"/>
      <!--保存至文件-->
      <target name="file" xsi:type="File" maxArchiveFiles="30"
                      fileName="${basedir}/Logs/${shortdate}/${loggername}.txt"
                      layout="${longdate} | ${level:uppercase=false:padding=-5} | ${message} ${onexception:${exception:format=tostring} ${newline} ${stacktrace} ${newline}" />
      <target name="Database" xsi:type="Database" keepConnection="false" useTransactions="false"
            dbProvider="System.Data.SQLite.SQLiteConnection, System.Data.SQLite, Version=1.0.104.0, Culture=neutral, PublicKeyToken=db937bc2d44ff139"
            connectionString="Data Source=${basedir}/log.db3;Version=3;" commandType="Text"
           commandText="INSERT into Log(Timestamp, Loglevel, Logger, Message) values(@Timestamp, @Loglevel, @Logger, @Message)">
        <parameter name="@Timestamp" layout="${longdate}"/>
        <parameter name="@Loglevel" layout="${level:uppercase=true}"/>
        <parameter name="@Logger" layout="${logger}"/>
        <parameter name="@Message" layout="${message} ${onexception:${exception:format=tostring} ${newline} ${stacktrace} ${newline}"/>
      </target>
    </targets>
    <rules>
      <logger name="*"  writeTo="file" />
      <logger name="*"  writeTo="console" />
      <!--<logger name="*"  writeTo="Database" />-->
    </rules>
  </nlog>
</configuration>