<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <system.serviceModel>
    <client>
      <endpoint address="http://localhost:8057/User" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_IUser" contract="TestService.IUser"
        name="BasicHttpBinding_IUser" />
    </client>
    <services>
      <service name="XrConsole.User">
        <!--设置服务节点,服务的地址直接采用基地址,使用basicHttpBinding-->
        <endpoint address="" binding="basicHttpBinding" contract="XrConsole.IUser">
        </endpoint>
        <!--        ~1~设置元数据交换节点@1@-->
        <!--        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange">-->
        <!--        </endpoint>-->
        <host>
          <baseAddresses>
            <!--服务的基地址用来访问获取元数据-->
            <add baseAddress="http://localhost:8057/User"/>
          </baseAddresses>
        </host>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="HttpGetEnable">
          <!--公开元数据，正是部署时候应该去掉防止元数据泄露-->
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <bindings>
      <basicHttpBinding>
        <binding name="NoneSecurity">
          <security mode="None" />
        </binding>
        <binding name="BasicHttpBinding_IUser" />
      </basicHttpBinding>
    </bindings>
  </system.serviceModel>
</configuration>
